- content_for(:title) { @flyer.full_description }

.row
  .flyer-medium.span4
    %p
      = link_to (image_tag @flyer.image_url(:medium)), @flyer.image_url, data: { colorbox: true }
  .span8
    %h1= raw @flyer.bands.map {|b| link_to b.name, b }.join(', ')

    %p
      = link_to @flyer.venue_full_name, @flyer.venue

    %p
      = @flyer.happened_on.strftime('%B %d, %Y')

    = simple_format @flyer.notes

    - if user_signed_in?
      %p
        = link_to 'Edit', edit_flyer_path(@flyer), class: 'btn btn-primary'
