%p#notice= notice

.row
  .span4
    %p
      = image_tag @flyer.image_url(:medium)
  .span8
    %h1= @flyer.band_list

    %p
      = @flyer.venue_full_name

    %p
      = @flyer.happened_on.strftime('%B %d, %Y')

    = simple_format @flyer.notes

    %p
      = link_to 'Edit', edit_flyer_path(@flyer), class: 'btn btn-primary'
